.navigationContainer ul {
  list-style-type: none;
  padding: 0;
}
.navigationList li {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}
.navigationContainer {
  /* margin-bottom: 10rem; */
  display: flex;
  justify-content: space-between;
  gap: 21rem;
}
.navButton {
  border: 2px solid var(--color-white);
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 0.5rem;
  width: 12.2rem;
  font-size: 1rem;
  font-family: Inter, "sans-serif";
  align-content: flex-end;
}
.navigationList {
  display: flex;
  gap: 5rem;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
}
