:root {
  --primary-color: #111111;
  --color: #ffffff;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif;
  background-color: var(--primary-color);
  color: var(--color);
}
/* background: #111111; */

